@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.conteudo {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    width: 20%;
    height: 60%;
    margin: 5% 40%;
    border-radius: 5%;
    padding: 1% 1% 2% 1%;
}

@media (max-width: 375px){
    .conteudo {
        width: 100%;
        flex-direction: column;
    }
}

img {
    width: 95%;
    height: 80%;
    border-radius: 5%;
}

h1 {
    color: hsl(218, 44%, 22%);
    margin: 5% 0;
    padding: 0 2%;
    font-size: large;
}

p {
    color: hsl(220, 15%, 55%);
    padding: 0 4% 8%;
    font-size: small;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(327, 88%, 50%); 
}
